<!DOCTYPE html>
<html>
<head> 
	<title>Quem</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js">
	<script type="text/javascript" src="js/spike.js"></script>
</head>
<body>
<div data-role="page">
 	<div data-role="header" data-fullscreen="true" data-theme="a" data-position="fixed">
		<a href="/" data-icon="arrow-l" data-theme="b">Home</a> 
		<h1><%= params[:link] %></h1></h1>
	</div>
	
		<ul data-role="listview" data-dividertheme="d" style="margin-top: 0;">
					<li data-role="list-divider">A</li>
					<li><a href="index.html">Argentina</a></li>
					<li><a href="index.html">Alemanha</a></li>
					<li data-role="list-divider">B</li>
					<li><a href="index.html">Brasil</a></li>
					<li data-role="list-divider">C</li>
					<li><a href="index.html">Camarões</a></li>
					<li data-role="list-divider">D</li>
					<li><a href="index.html">Dinamarca</a></li>
					<li data-role="list-divider">E</li>
					<li><a href="index.html">Espanha</a></li>
					<li data-role="list-divider">F</li>
					<li><a href="index.html">França</a></li>
					<li><a href="index.html">Finlandia</a></li>
					<li data-role="list-divider">G</li>
					<li><a href="index.html">Guatemala</a></li>
					<li><a href="index.html">Guiana Francesa</a></li>
					<li data-role="list-divider">H</li>
					<li><a href="index.html">Honduras</a></li>
					<li data-role="list-divider">N</li>
					<li><a href="index.html">Noruega</a></li>
					<li data-role="list-divider">P</li>
					<li><a href="index.html">Portugual</a></li>
					<li data-role="list-divider">R</li>
					<li><a href="index.html">Rússia</a></li>
					<li data-role="list-divider">S</li>
					<li><a href="index.html">Suiça</a></li>
					<li><a href="index.html">Suécia
					</a></li>					
				</ul>
		</div>
	</body>
</html>