<!DOCTYPE html>
<html>
<head> 
	<title>JQuery Mobile</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<script type="text/javascript" src="jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="jquery.mobile-1.3.1.min.js"></script>
	<script type="text/javascript" src="customized.js"></script>
</head>

<body>
	<div data-role="page">
	<div data-role="header">
		<a href="http://jquerymobile.com/demos/1.0" data-icon="arrow-l" data-theme="b">API</a> 
		<h1>JQuery</h1>
		<a href="http://jquerymobile.com/demos/1.0/docs/api/themes.html" data-icon="arrow-r" data-theme="a">Themes</a> 		
	</div>
	<div data-role="content">	
		<form>
   			<label for="slider-0">Input slider:</label>
   			<input type="range" name="slider" id="slider-0" value="25" min="0" max="100"  />
   			<br/>
   			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d">Botões</li>
   			<a href="#" data-role="button" data-icon="star">Estrela</a>
   			<a href="#" data-role="button" data-icon="star" data-theme="a">A Button</a>
   			<a href="#" data-role="button" data-icon="star" data-theme="b">B Button</a>
   			<a href="#" data-role="button" data-icon="star" data-theme="c">C Button</a>
   			<a href="#" data-role="button" data-icon="star" data-theme="d">D Button</a>
   			<a href="#" data-role="button" data-icon="star" data-theme="e">E Button</a>

		</form>
	</div>

</body>